@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-body: var(--font-product-sans);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.speaker-name {
  color: #3c4043
}

.speaker-designation{
  color: #5f6368
}

.header-bg {
  color: #202124;
  background-color: #eeeeee;
}

.clock {
  color: white;
  perspective: 100vw;
  perspective-origin: 50% 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.digit-container {
  display: flex;
  align-items: center;
}

.digit {
  font-size: 2rem;
  font-weight: bold;
  background: #ffffff33;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  margin: 0 0.2rem;
}

.digit-value {
  color: #ffffff;
  display: block;
}

p {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  color: #ffffff;
}


.google-blue {
  background-color: #4285f4;
}

.google-red {
  background-color: #ea4335;
}

.google-green {
  background-color: #34a853;
}

.google-yellow {
  background-color: #fbbc04;
}

.google-grey {
  background-color: #e8eaed;
}