@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Product Sans';
  src: url('/src/app/fonts/ProductSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/src/app/fonts/ProductSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/src/app/fonts/ProductSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/src/app/fonts/ProductSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/src/app/fonts/ProductSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/src/app/fonts/ProductSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/src/app/fonts/ProductSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/src/app/fonts/ProductSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/src/app/fonts/ProductSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/src/app/fonts/ProductSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/src/app/fonts/ProductSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/src/app/fonts/ProductSans-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* html {
  font-family: 'Product Sans', sans-serif;
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Product Sans', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.speaker-name {
  color: #3c4043
}

.speaker-designation{
  color: #5f6368
}

.header-bg {
  color: #202124;
  background-color: #eeeeee;
}

.clock {
  color: white;
  perspective: 100vw;
  perspective-origin: 50% 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.digit-container {
  display: flex;
  align-items: center;
}

.digit {
  font-size: 2rem;
  font-weight: bold;
  background: #ffffff33;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  margin: 0 0.2rem;
}

.digit-value {
  color: #ffffff;
  display: block;
}

p {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  color: #ffffff;
}


.google-blue {
  background-color: #4285f4;
}

.google-red {
  background-color: #ea4335;
}

.google-green {
  background-color: #34a853;
}

.google-yellow {
  background-color: #fbbc04;
}

.google-grey {
  background-color: #e8eaed;
}